Tugas 4 Chatbot.json
{
  "name": "Tugas 4 Chatbot",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "20288609-05a3-4ef1-b1ad-cd2f0cc47128",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1he5idmRUhjT0IrYdw_LXEflkIavdO0CU",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "2c2d00db-3fbb-43e5-ab67-13cfb51d465f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "2iRH3KgOOUxGfJgo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "6800bd19-f209-44a8-adb1-05f905cf86c2",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "KaL7M8zt8RsPb3i8",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        832,
        192
      ],
      "id": "e5ff1df3-551c-4b96-bbdf-6d5711dac343",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        176
      ],
      "id": "3e5deca5-96cd-4385-a0ff-457d6d52bb2a",
      "name": "Embeddings Google Gemini",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "googlePalmApi": {
          "id": "9Ix5RXexNRhA2BQo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi My Friend! 👋\nMy name is ichandu. How can I assist you today?",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -16,
        368
      ],
      "id": "4b0bd445-a137-4e90-93ae-d487ca7c5e82",
      "name": "When chat message received",
      "webhookId": "ce607e73-fc60-4536-8066-b9631a7ca6bc"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || \"halo\" }}",
        "options": {
          "systemMessage": "Anda adalah chatbot AI yang membantu menjawab pertanyaan tentang panduan penulisan ilmiah tugas akhir skripsi.\n\nGunakan data dari vector database (Supabase) sebagai sumber utama.\n\nAturan:\n1. Jawab hanya berdasarkan data dari dokumen.\n2. Jangan mengarang jawaban.\n3. Jika tidak ditemukan, jawab: \"Informasi tidak ditemukan dalam dokumen.\"\n4. Jawaban harus jelas dan singkat."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        368
      ],
      "id": "5afafdb0-ba51-4b4e-8a7e-edbd5d4f921f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        48,
        576
      ],
      "id": "46e0894e-4886-4fc1-b923-83b460fbe94e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9Ix5RXexNRhA2BQo",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil tool Supabase Vector Store ini untuk mendapatkan informasi panduan menulis bab 1 tulisan ilmiah.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        720,
        480
      ],
      "id": "d4448c7e-1635-46a3-b4ad-1131bc156b96",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "KaL7M8zt8RsPb3i8",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId || \"test-session\" }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        192,
        576
      ],
      "id": "db166744-ab0f-4c84-807c-3c28163b04eb",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "qLAi9GWyR2gJRuFU",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "adfa1cb1-b849-4daf-b760-79de7fa86c4d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "410adb91ccde81eab032df7db0255a137ce534736f9055f8914c2653795fbc43"
  },
  "id": "Mv6Bf0quZ2hECkJK",
  "tags": []
}